<!DOCTYPE html>
<html>
<head>
  <title>Questoes Analise</title>
</head>
<body>
<h1>Questoes Analise</h1>
<% if @questoes_analise.any? %>
    <table>
      <thead>
      <tr>
        <th>ID</th>
      </tr>
      </thead>
      <tbody>
      <% @questoes_analise.each do |questao_analise| %>
          <tr>
            <td><%= questao_analise.idquestao_analise %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <h1>Nenhuma Questao</h1>
<% end %>
</body>
</html>
